nav {
	background-color: #432476;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    max-width: 1044px;
    margin: 0 auto;
    padding: 0px 20px;
}

nav .brand-logo{
	color: #fbfbfb;
}

nav ul a{
	color: #fbfbfb;
}

footer.page-footer{
	background-color: #432476;
}

footer.page-footer .container{
	width: 100%;
	max-width: 1044px;
	padding: 0px 20px;
}

footer.page-footer .footer-copyright{
	background-color: rgba(0,0,0,0.15);
}

.row{
	margin-top: 20px;
}

.card {
	background-color: #9e4770;
}

.card-action a{
	color: #fbfbfb !important;
}


.card-action a:hover{
	color: #cccccc !important;
}

main{
	max-width: 1044px;
	padding: 0 20px;
	margin: 0 auto;
}

.card .card-content .card-title {
    line-height: 1.2;
    margin-bottom: 10px;
    display: inline-block;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    min-height: 120px;
}

@media screen and (min-width: 601px) and (max-width: 850px){

	.card .card-content {
	    padding: 20px;
	    border-radius: 0 0 2px 2px;
	    min-height: 162px;
	}

}

.user_form_wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
}

button.btn.waves-effect.waves-light.user_form_button {
    background: #9e4770;
}

input[type="text"]:focus:not([readonly]) {
	border-bottom: 1px solid #9e4770;
	box-shadow: 0 1px 0 0 #9e4770;
}

input[type="text"]:focus:not([readonly])+label {
	color: #9e4770;
}

.last_import,
.last_export {
	position: absolute;
	right: 20px;
	bottom: 20px;
}